input {
    border-color: #e5e5e4;
    border-style: solid;
    border-width: 1px;
    transition: all .3s ease-in-out;
    height: 5.2rem;
    padding: 0.8rem 4rem 0.8rem 1.8rem;
    width: 100%;
}

input[type=text]:focus {
    outline-width: 0;
    border: 1px solid rgb(67, 142, 163);
}

div {
    width: 100%;
}