.bg-signin {
    height: 100vh;
    background-color: #f8f8f8;
}

.bg-pattern {
    height: 4.2rem;
    background: url("../../../assets/1477347860-pattern.png") center repeat;
    background-size: contain;
}

.font-header-signin {
    font-size: 3rem;
    font-family: 'Uber Move', 'Helvetica Neue', sans-serif;
}

.font-signin {
    font-size: 1.4rem;
    font-family: 'Uber Move Text Light', 'Helvetica Neue', sans-serif;
}

.bold {
    font-weight: 600;
}

.bg-square {
    width: 10rem;
    height: 10rem;
    margin: -1.8rem 0 0 0;
    background-color: black;
    justify-content: center;

    p {
        margin: 0;
    }
}

.form-container {
    text-align: left;
    align-content: center;
    justify-content: center;
    margin-top: 3rem;
    row-gap: 1rem;

    div.flex {
        width: 60rem;
        padding: 0 8rem 0 8rem;
        justify-content: left;

        .flex {
            padding: 0 0 0 3rem;
            margin-top: 12rem;
            background-color: #11939A;
            transition: all .1s ease-in-out;
            cursor: pointer;
        }

        .flex:hover {
            background-color: #13858b;
            transition: all .1s ease-in-out;
        }
    }
}

.label-font {
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1.2rem 0 1rem 0;
}

.up-position {
    margin-top: -1rem;
}

.icon-signin {
    position: relative;
    width: 0;
    height: 0;
    top: 5.6rem;
    left: 19.6rem;
    color: rgba(128, 128, 128, 0.6);
}

.icon-phone {
    left: 19.8rem;
}

.sign-font {
    padding: 1.6rem 0 1.6rem;
    font-size: 1.6rem;
    font-weight: bold;
}

.disclaimer {
    margin-top: 0.6rem;
    font-size: 0.9rem;
}

.boat {
    padding-top: 4.6rem;
    background-color: #f8f8f8;
}

.boat-ground {
    height: 1rem;
    margin-top: -0.36rem;
    background-color: black;
}